*.xlsx
*.psd
*.txss
*.aux
*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.tex
!*.csv
!*.png
!*.pdf
!*.py
!preamble_fotoKadin.jpg
!./bab_00_preamble-front/preamble_fotoKadin_dianita
*.bbl
*.blg
*.run.xml
*.bcf
*.synctex.gz
!*.bib
!*/
profil2025.pdf